@page
@model Library.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Afegir";
}

<h1>Afegir</h1>

<h4>Llibres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Position" class="control-label"></label>
                <input asp-for="Book.Position" class="form-control" />
                <span asp-validation-for="Book.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="Book.Publisher" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublicationYear" class="control-label"></label>
                <input asp-for="Book.PublicationYear" class="form-control" />
                <span asp-validation-for="Book.PublicationYear" class="text-danger"></span>
            </div>
            @*<div class="form-group">                
                <label asp-for="Book.file" class="control-label"></label>
                <input asp-for="Book.file" class="form-control" />
                <span asp-validation-for="Book.file" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Upload" class="control-label"></label>
                <input type="file" asp-for="Upload" data-val-ignore="true" />
            </div>

            <div class="form-group">
                <input type="submit" value="Afegir" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retornar a la Llista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
